<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        .button {
            background-color: #008CBA; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

    </style>
</head>
<body>
<h2>403 Forbidden</h2>
<p>
    <a class="button" th:href="@{/}" th:text="#{msg.Home}"/>
</p>
</body>
</html>